<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset ('assets/css/bootstrap.css')}}">
		{% endblock %}
    </head>
    <body style="background: #F4F4F4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url('orange') }}">OMDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"  href="{{ url('orange') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="https://github.com/PierreLpc" target="_blank">Git de Pierre</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="{{ url('film',{"query" : "vie"}) }}">Vie</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ url('Recherche') }}" method="get">
                <input class="form-control mr-sm-2" type="text" name="inputTitle" placeholder="Recherche">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br>
        {% block body %}


        {% endblock %}
        {% block javascripts %} 
		<script src=""{{ asset ('assets/js/bootstrap.js') }}
		{% endblock %}
    </body>
</html>
